/* Box Styling */
.box {
    padding: 10%;
    color: white;
    display: flex;
    justify-content: flex-start;
}
/* bg colors */
.yellow {
    background-color: #FABB06;
}
.red {
    background-color: #EA4335;
}
.blue {
    background-color: #4285F4;
}
.green {
    background-color: #34A752;
}