/* Box Styling */
.animated-text {
    color: white;
    animation: fadeIn 2s;
}
/* bg colors */
.yellow {
    background-color: #FABB06;
}
.red {
    background-color: #EA4335;
}
.blue {
    background-color: #4285F4;
}
.green {
    background-color: #34A752;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}